<div class="container-fluid">
  <mat-menu #sorters>
    <button mat-menu-item (click)="reSort('name',this.data.query.reserve)">Name</button>
    <button mat-menu-item (click)="reSort('price',this.data.query.reserve)">Price</button>
    <button mat-menu-item (click)="reSort('shipping',this.data.query.reserve)">Shipping Time</button>
  </mat-menu>
  <mat-menu #orders>
    <button mat-menu-item (click)="reSort(data.query.field,false)">Low to High</button>
    <button mat-menu-item (click)="reSort(data.query.field,true)">High to Low</button>
  </mat-menu>
<!--  <mat-toolbar-row>-->
<!--    <mat-button-toggle-group>-->
<!--      <button mat-button color="primary" [matMenuTriggerFor]="sorters">Sort</button>-->
<!--      <button mat-button color="primary" [matMenuTriggerFor]="orders">Order</button>-->
<!--    </mat-button-toggle-group>-->
<!--  </mat-toolbar-row>-->
  <div class="row justify-content-around h-auto">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of data.data | async">
      <app-item-card class="h-auto" [item]="item"></app-item-card>
    </div>
  </div>
</div>
<app-spinner *ngIf="data.loading"></app-spinner>
<ng-template #holder>
  <img src="http://lorempixel.com/g/400/200" alt="">
</ng-template>
<mat-divider></mat-divider>
